<section class="container">

  <div>
    <h2 class="subtitle">Select your plan</h2>
  </div>

  <div *ngIf="home" class="row">
    <div>
      <div class="membership  ">
        <small class="membership__info">Valid only for one surgery</small>
        <strong class="membership__price">$45</strong>
        <h4 class="membership__package-name">Personal Support</h4>
        <button class="membership__buy-button">Buy Now</button>
      </div>
    </div>
  </div>

</section>



<p>
  payments works! HEADER
</p>
