<section>
    <div class="hero">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 622.18 607"><defs>
                <style>
                    .cls-1 {
                        fill: url(#New_Gradient_Swatch_copy_2);
                    }
                </style>
                <linearGradient id="New_Gradient_Swatch_copy_2" x1="-1.18" y1="303.5" x2="621" y2="303.5" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#352e66" />
                    <stop offset="1" stop-color="#404d97" />
                </linearGradient>
            </defs>
            <title>background</title>
            <path class="cls-1" d="M0,0H621V438.16s-122.3-14.53-334.65,75.16S-1.18,607-1.18,607Z" transform="translate(1.18 0)" /></svg>
        <div class="hero__float">
            <h1>Affordable heathcare</h1>
            <h2>Save up to 70% on major surgeries at reputable hospitals in Mexico.</h2>
            <!-- <a routerLink='/dashboard'>Learn more</a> -->
            <a routerLink='dashboard'><button class="button--primary">
                    Learn more
                </button>
            </a>

        </div>
        <!-- <div #pills class=hero__pills>
            <div class="hero__pills__thread">
                <span *ngFor="let item of array1">{{item}}</span>
            </div>
            <div class="hero__pills__thread">
                <span *ngFor="let item of array1">{{item}}</span>
            </div>
            <div class="hero__pills__thread">
                <span *ngFor="let item of array1">{{item}}</span>
            </div>
        </div> -->

    </div>


</section>

<form ngNativeValidate [formGroup]="form" (ngSubmit)="getLogin()">
    <input formControlName="email" value="Angelh3m@gmail.com" type="text" placeholder="email">
    <input formControlName="name" type="text" placeholder="Name">
    <input formControlName="password" value="123" type="text" placeholder="Password">
    <button type="submit">LOGIN</button>

</form>

<section>
    <div class="row">
        <h6 class="subtitle">OUR MISSION</h6>
        <p class="text--small">
            We are a group of surgeons with decades of experience with one goal in common -- provide the most affordable and high quality
            healthcare for everyone
        </p>
    </div>
</section>

<!-- <hr> -->

<section class="container">
    <div class="row row--background">
        <div class="icon__container--center">
            <i class="icon--green-center icon-apointments"></i>
        </div>
        <h2 class="c__subtitle">
            BOOK YOUR FIRST APPOINTMENT
        </h2>

        <h3 class="heading--green">Our doctors are here to help you</h3>
        <p class="c__content"> From the dashboard you can ask all your questions you have. You will be able to schedule your
            doctor’s visit and have access to special perks when traveling for your surgery.
        </p>

        <img src="https://i.pinimg.com/564x/ee/ce/69/eece69911872e2de635e0ef38d5ab46e.jpg" alt="image">
    </div>

</section>

<!-- <hr> -->

<section class="container">
    <div class="row">
        <div class="icon__container--center">
            <i class="icon--green-center icon-apointments"></i>
        </div>
        <h3 class="subtitle">SIGNG-UP FEE</h3>
        <i class="subtitle__small">GET UNLIMITED SUPPORT FROM OUR DOCTORS</i>

        <div class="membership row ">
            <small class="membership__info">Valid only for one surgery</small>
            <strong class="membership__price">$45</strong>
            <h4 class="membership__package-name">Personal Support</h4>
            <button class="membership__buy-button">Buy Now</button>
        </div>
    </div>
</section>

<section class="container">
    <div class="icon__container--center">
        <i class="icon--green-center icon-cog"></i>
    </div>
    <h3 class="subtitle">HOW IT WORKS</h3>
    <i class="subtitle__small">THREE EASY STEPS TO FOLLOW</i>

    <div class="card-steps row">
        <h2 class="heading--green"> Make an appointment</h2>
        <p class="card__content">
            After signing up, make an appointment. Based on the information you provide, we willassign you a doctor with the best experience
            in the field
        </p>
    </div>
    <div class="card-steps row">
        <h2 class="heading--green"> Get approved</h2>
        <p class="card__content">
            After the doctor talks to you and analyzes your medical history, you will be approved and advised on the procedure you will
            need. At this point, you will also receive a complete cost breakdown of the surgery.
        </p>
    </div>
    <div class="card-steps row">
        <h2 class="heading--green"> Get your surgery</h2>
        <p class="card__content">
            When it’s time to get your surgery, you will travel to Mexico. Your dashboard will provide you with many options to choose
            from, including hotels and transporation, to make your trip much easier.
        </p>
    </div>
</section>

<section>
    <div class="icon__container--center">
        <i class="icon--green-center icon-medic-service"></i>
    </div>
    <h2 class="subtitle">WHY CHOOSING OUR SERVICE?</h2>

    <div class="row spacer">
        <h3 class="heading--green">
            It’s only a one time payment
        </h3>
        <p>
            After the sign-up fee, it’s only a one time payment which covers everything - surgical materials, hospital expenses, and
            doctor fees. Travel expenses are not included.
        </p>
    </div>

    <div class="row spacer">
        <h3 class="heading--green">
            No health insurance needed.
        </h3>
        <p>
            No copays. No recurring bills. No need to spend a fortune on hospital fees.
        </p>
    </div>

    <div class="row spacer">
        <h3 class="heading--green">
            Receive the best customer experience.
        </h3>
        <p>
            Our patients’ satisfaction is extremely important to us. Need help? We got your back!
        </p>
    </div>

    <div class="card">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 595 713" style="enable-background:new 0 0 595 713;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: url(#SVGID_1_);
                }
            </style>
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="25.5219" y1="534.1224" x2="569.4781" y2="178.8776">
                <stop offset="0" style="stop-color:#3023AE" />
                <stop offset="1" style="stop-color:#C86DD7" />
            </linearGradient>
            <path class="st0" d="M10.1,248.1v216.7c0,51.4,25.7,99.4,68.6,127.8l134,88.9c51.4,34.1,118.2,34.1,169.6,0l134-88.9
           c42.8-28.4,68.6-76.4,68.6-127.8V248.1c0-51.4-25.7-99.4-68.6-127.8l-134-88.9c-51.4-34.1-118.2-34.1-169.6,0l-134,88.9
           C35.9,148.8,10.1,196.7,10.1,248.1z" />
        </svg>
        <div class="card--featured">
            <h2 class="heading--green heading--center">TOP BEST SURGEONS</h2>
            <span class="text--center">
                <i class="icon-icon-star-large-yellow"></i>
                <i class="icon-icon-star-large-yellow"></i>
                <i class="icon-icon-star-large-yellow"></i>
                <i class="icon-icon-star-large-yellow"></i>
                <i class="icon-icon-star-large-yellow"></i>
            </span>
            <p class="text--center">We have the most experienced doctors do your surgeries.</p>
            <button class="button--action">SPECIALIST AVAILABLE</button>
        </div>
    </div>
</section>


<section class="row">
    <div class="icon__container--center">
        <i class="icon--green-center icon-doctor"></i>
    </div>
    <h3 class="subtitle">
        Our Doctors
    </h3>
    <i class="subtitle__small"> LIST OF ALL OUR SPECIALIZED DOCTORS</i>

    <table style="width:100%">
        <tr>
            <th>Surgeon</th>
            <th class="text--right">Available</th>
        </tr>
        <tr>
            <td>Orthopedic surgeon</td>
            <td class="table-text--right">•</td>
        </tr>
        <tr>
            <td>Plastic surgeons</td>
            <td class="table-text--right">•</td>

        </tr>
        <tr>
            <td>Plastic surgeons</td>
            <td class="table-text--right">•</td>



        </tr>
    </table>

</section>


<section class="row faq">
    <div class="icon__container--center">
        <i class="icon--green-center icon-plane"></i>
    </div>
    <h3 class="subtitle">
        QUESTIONS ABOUT COMING TO MEXICO?
    </h3>
    <i class="subtitle__small"> WE HAVE MANY YEARS OF EXPERIENCE TAKING CARE OF PATIENTS FROM OVERSEAS</i>


    <div id='questions' class="faq__container">
        <!-- <button>X</button> -->
        <div #faq *ngFor="let item of questions" class="faq--is-hiden  faq--is-active" (click)="onToggle($event)">

            <h2 class="faq__question text--blue">{{item.question}} </h2>
            <div class="faq__wrap">
                <p class="faq__answers">{{item.response}}</p>
            </div>
        </div>
    </div>
</section>

<footer class="container">
    <div class="row">
        <span class="copyrights">Copyright @ 2018 Company. All rights reserved</span>
    </div>
</footer>

<!-- 
<div class="row">
    <div class="col-3-of-4  ">
        <h2>Hello</h2>
    </div>
    <div class="col-1-of-4   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-2-of-4  ">
        <h2>Hello</h2>
    </div>
    <div class="col-2-of-4   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-2-of-3 ">
        <h2>Hello</h2>
    </div>
    <div class="col-1-of-3   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-1-of-2 ">
        <h2>Hello</h2>
    </div>
    <div class="col-1-of-2   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-4-of-4 ">
        <h2>Hello</h2>
    </div>

</div> -->