$text-color: #525f7f;
$title-color: #32325d;
.hero {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    &__float {
        position: absolute;
        top: 0;
        color: white;
        padding: 5rem 3rem;
    }
    &__pills {
        position: absolute;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        span {
            background-color: rgba(138, 43, 226, .7);
            margin: 5px 10px;
            border-radius: 30px;
            padding: 5px;
            display: inline-block;
            color: white;
            font-size: .8rem;
            // transition: slide;
            animation: slide 70s infinite;
        }
    }
}

.button {
    &--primary {
        background: #39b54a;
        padding: 1rem;
        color: white;
        border: solid 0px;
        border-radius: 30px;
    }
}

@keyframes slide {
    0% {
        transform: translateX(30vw);
    }
    50% {}
    100% {
        transform: translateX(-60vw)
    }
}

// MISION
.subtitle {
    font-size: 2.5rem;
    text-align: center;
    color: $title-color;
}

.text--small {
    font-size: 1.3rem;
    color: $text-color;
    text-align: justify;
    font-weight: 100;
}

.appointment {
    margin: 3rem 0px;
}