<section>
    <div class="hero">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 622.18 607"><defs><style>.cls-1{fill:url(#New_Gradient_Swatch_copy_2);}</style><linearGradient id="New_Gradient_Swatch_copy_2" x1="-1.18" y1="303.5" x2="621" y2="303.5" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#352e66"/><stop offset="1" stop-color="#404d97"/></linearGradient></defs><title>background</title><path class="cls-1" d="M0,0H621V438.16s-122.3-14.53-334.65,75.16S-1.18,607-1.18,607Z" transform="translate(1.18 0)"/></svg>
        <div class="hero__float">
            <h1>Affordable heathcare</h1>
            <h2>Save up to 70% on major surgeries at reputable hospitals in Mexico.</h2>
            <!-- <a routerLink='/dashboard'>Learn more</a> -->
            <a routerLink='dashboard'><button class="button--primary">
               Learn more
            </button>
        </a>

        </div>
        <div class=hero__pills>
            <span>Surgeries</span>
            <span>Joint Surgery</span>
            <span>Hip replacement</span>
            <span>Prostetics</span>
            <!--  -->
            <span>Surgeries</span>
            <span>Joint Surgery</span>
            <span>Hip replacement</span>
            <span>Prostetics</span>
            <!--  -->
            <span>Surgeries</span>
            <span>Joint Surgery</span>
            <span>Hip replacement</span>
            <span>Prostetics</span>

        </div>
    </div>


</section>

<section>
    <div class="row">
        <h6 class="subtitle">OUR MISSION</h6>
        <p class="text--small">
            We are a group of surgeons with decades of experience with one goal in common -- provide the most affordable and high quality healthcare for everyone
        </p>
    </div>
</section>

<hr>

<section>
    <div class="row">
        <h3 class="subtitle">
            BOOK YOUR FIRST APPOINTMENT
        </h3>
        <i>ASK THE DOCTORS ALL YOUR QUESTIONS</i>

        <ul class="appointment">
            <li>
                Get support from the doctors 24/7
            </li>
            <li>
                Receive the best recommendations for your health from qualified experts.
            </li>
            <li>
                Receive the best price on every procedure.

            </li>
        </ul>

        <img src="https://i.pinimg.com/564x/ee/ce/69/eece69911872e2de635e0ef38d5ab46e.jpg" alt="image">
    </div>

</section>

<hr>

<section>
    <h3 class="subtitle">SIGNG-UP FEE</h3>
    <i>GET UNLIMITED SUPPORT FROM
            OUR DOCTORS</i>
</section>

<section>
    <h3 class="subtitle">HOW IT WORKS</h3>
    <i>THREE EASY STEPS TO FOLLOW</i>
</section>
<div class="row">
    <div class="col-3-of-4  ">
        <h2>Hello</h2>
    </div>
    <div class="col-1-of-4   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-2-of-4  ">
        <h2>Hello</h2>
    </div>
    <div class="col-2-of-4   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-2-of-3 ">
        <h2>Hello</h2>
    </div>
    <div class="col-1-of-3   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-1-of-2 ">
        <h2>Hello</h2>
    </div>
    <div class="col-1-of-2   ">
        <h2>Hello</h2>
    </div>
</div>
<div class="row">
    <div class="col-4-of-4 ">
        <h2>Hello</h2>
    </div>

</div>