<h2 class="subtitle--left">Conversation History</h2>
<hr>

<table class="conversation-table">
  <tr class="conversation-table__flex conversation-table">
    <th class="text--left">PERSONAL PLAN</th>
    <th class="text--center">DATE PURCHASED </th>
    <th class="text--right">EXPIRES</th>
    <th class="text--right">BALANCE</th>
  </tr>
  <tr class="conversation-table--cell">
    <td>2 Months </td>
    <td>July 10th 2018 </td>
    <td>December 20th 2018</td>
    <td>$8,000</td>
  </tr>
</table>
