<h2 class="subtitle--left">Dashboard</h2>
<hr>

<div class="row">

  <div class="col-2-of-4">
    <div class="card">
      <h3 class="card__user">{{user.info[0].firstName}} {{user.info[0].lastName}}</h3>
      <div class="card__user--initials">
        JD
      </div>
      <h3 class="card__location">{{user.info[0].state}}, {{user.info[0].city}} </h3>
      <div class="card progress">
        <div class="progress__bar-background ">
          <div class="progress__bar" [style.width.%]="percentage"></div>
        </div>
        <span class="progress__status">{{ percentage }}% Complete</span>
      </div>
    </div>

  </div>

  <div class="col-2-of-4">
    <div class="card">
      <span class="button--edit" (click)="toggleEdit()">Edit</span>
      <h2 class="subtitle--left-small  ">Your information:</h2>
      <div *ngIf='!isEdit'>
        <div>
          <span class="text--small ">Name:</span>
          <p>{{user.info[0].firstName}} {{user.info[0].lastName}}</p>
        </div>
        <div>
          <span class="text--small ">Phone Number:</span>
          <p>{{user.info[0].phoneNumber}}</p>
        </div>
        <div>
          <span class="text--small ">Address:</span>
          <p>{{user.info[0].address}}</p>
        </div>
        <div>
          <span class="text--small ">E-mail:</span>
          <p>{{user.info[0].email}}</p>
        </div>
      </div>
      <hr>
      <form [formGroup]="form" (ngSubmit)="onSaveData()" class="form-primary" *ngIf='isEdit'>
        <div class="form-primary__flex">
          <div>
            <span class="text--small ">Name:</span>
            <input class="form-primary__input" formControlName="firstName" type="text" placeholder="form.firstName">
          </div>
          <div>
            <span class="text--small ">Last Name:</span>
            <input class="form-primary__input" formControlName="lastName" type="text" placeholder="{{user.info[0].lastName}}">
          </div>
        </div>
        <div>
          <span class="text--small ">Phone number:</span>
          <input class="form-primary__input" formControlName="phoneNumber" type="text" placeholder="{{user.info[0].phoneNumber}}">
        </div>
        <div>
          <span class="text--small ">Address:</span>
          <input class="form-primary__input" type="text" formControlName="address" placeholder="{{user.info[0].address}}">
        </div>
        <div>
          <span class="text--small ">E-mail:</span>
          <input class="form-primary__input" type="text" formControlName="email" placeholder="{{user.info[0].email}}">
        </div>

        <button type="submit" class="button--save">Save</button>
      </form>
    </div>


  </div>

</div>
<div class="row">
  <div class="col-2-of-4">
    <div class="card">
      <div class="card__flex">
        <div class="card__flex--one ">
          <div class="card__user--initials">
            <i class="icon-patients-info"></i>
          </div>
        </div>
        <div class="card__flex--two  card__user--status">
          <strong>Medical Background complete.</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2-of-4">
    <div class="card">
      <div>
        <span class="text--dr-blue">Next appointment date:</span>
        <time>Septemeber 28, 2018</time>
        <span>memebership <button class="button--active-plan">PERSONAL</button> </span>
      </div>
    </div>
  </div>
</div>
