<h2 class="subtitle--left">Dashboard</h2>
<hr>

<div class="row">

  <div class="col-2-of-4">
    <div class="card">
      <h3 class="card__user">John Doe</h3>
      <div class="card__user--initials">
        JD
      </div>
      <h3 class="card__location">California</h3>
      <div class="card progress">
        <div class="progress__bar">

        </div>
        <span class="progress__status">100% Complete</span>
      </div>
    </div>

  </div>

  <div class="col-2-of-4">
    <div class="card">
      <h2 class="subtitle--left-small  ">Your information:</h2>
      <div>
        <span class="text--small ">Name:</span>
        <p>John Doe</p>
      </div>
      <div>
        <span class="text--small ">Phone Number:</span>
        <p>(442) 241 1111</p>
      </div>
      <div>
        <span class="text--small ">Address:</span>
        <p>75 Hawthorse St Booklyn Ny</p>
      </div>
      <div>
        <span class="text--small ">E-mail:</span>
        <p>user@gmail.com</p>
      </div>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-2-of-4">
    <div class="card">
      <div class="card__flex">
        <div class="card__flex--one ">
          <div class="card__user--initials">
            <i class="icon-patients-info"></i>
          </div>
        </div>
        <div class="card__flex--two  card__user--status">
          <strong>Medical Background complete.</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2-of-4">
    <div class="card">
      <div>
        <span class="text--dr-blue">Next appointment date:</span>
        <time>Septemeber 28, 2018</time>
        <span>memebership <button class="button--active-plan">PERSONAL</button> </span>
      </div>
    </div>
  </div>
</div>
