@font-face {
    font-family: 'icomoon';


     src:  url('src/assets/fonts/icomoon.eot?1weq4l');
  src:  url('src/assets/fonts/icomoon.eot?1weq4l#iefix') format('embedded-opentype'),
    url('src/assets/fonts/icomoon.ttf') format('truetype'),
    url('src/assets/fonts/icomoon.woff') format('woff'),
    url('src/assets/fonts/icomoon.svg?1weq4l#icomoon') format('svg');
    font-weight: normal; 
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-apointments:before {
    content: "\e900";
}

.icon-arrow-right:before {
    content: "\e901";
}

.icon-bandaid:before {
    content: "\e902";
}

.icon-card:before {
    content: "\e903";
}

.icon-cog:before {
    content: "\e904";
}

.icon-dna:before {
    content: "\e905";
}

.icon-doctor:before {
    content: "\e906";
}

.icon-edit:before {
    content: "\e907";
}

.icon-editor--align-center-solid:before {
    content: "\e908";
}

.icon-editor--align-justify-solid:before {
    content: "\e909";
}

.icon-editor--align-left-solid:before {
    content: "\e90a";
}

.icon-editor--align-right-solid:before {
    content: "\e90b";
}

.icon-editor--bold-solid:before {
    content: "\e90c";
}

.icon-editor--italic-solid:before {
    content: "\e90d";
}

.icon-elilpsis-h:before {
    content: "\e90e";
}

.icon-ellipsis-v:before {
    content: "\e90f";
}

.icon-email:before {
    content: "\e910";
}

.icon-exclamation:before {
    content: "\e911";
}

.icon-home:before {
    content: "\e912";
}

.icon-icon-star-large-yellow:before {
    content: "\e913";
    color: #ecc81a;
}

.icon-id-card:before {
    content: "\e914";
}

.icon-medic-service:before {
    content: "\e915";
}

.icon-medical-history:before {
    content: "\e916";
}

.icon-paper-plane:before {
    content: "\e917";
}

.icon-patients-info:before {
    content: "\e918";
}

.icon-payment:before {
    content: "\e919";
}

.icon-pills:before {
    content: "\e91a";
}

.icon-plane:before {
    content: "\e91b";
}

.icon-power:before {
    content: "\e91c";
}

.icon-prescription-bottle:before {
    content: "\e91d";
}

.icon-procedures:before {
    content: "\e91e";
}

.icon-quote-left-solid:before {
    content: "\e91f";
}

.icon-quote-right-solid:before {
    content: "\e920";
}

.icon-receipt:before {
    content: "\e921";
}

.icon-reservation:before {
    content: "\e922";
}

.icon-Rx:before {
    content: "\e923";
}

.icon-search:before {
    content: "\e924";
}

.icon-selectPlan:before {
    content: "\e925";
}

.icon-shield-check:before {
    content: "\e926";
}

.icon-speech:before {
    content: "\e927";
}

.icon-success:before {
    content: "\e928";
}

.icon-travel:before {
    content: "\e929";
}

.icon-world:before {
    content: "\e92a";
}



.icon__container--center{
    width: 100%;
    text-align: center;
    margin-bottom: 3.5rem;
}

.icon--green-center {
    color: #43d394;
    font-size: 4rem;
    box-sizing: border-box;
    display: inline-block;
    background: $color-primary-light;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    line-height: 1;
}
