.form-primary {
  &__input {
    display: block;
    width: 100%;
    line-height: 3.5;
    border: 0;
    border-bottom: solid 1px #9E9E9E;
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    div {
      width: 49%;
    }
  }
}
