$text-color: #525f7f;
$title-color: #32325d;

.hero {
  h1 {
    font-size: 5.5vw;
    margin-bottom: 0rem;
    margin-top: 5%;
  }

  h2 {
    font-size: 4vw;
    margin-bottom: 10%;
  }

  &__float {
    position: absolute;
    top: 0;
    color: white;
    margin: 0 auto;
    padding: 5rem 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &__pills {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    span {
      background-color: rgba(138, 43, 226, 0.7);
      margin: 0.5rem 2rem;
      border-radius: 30px;
      padding: 1rem;
      display: inline-block;
      color: white;
      font-size: 2vw;
    }

    &__thread {
      display: inline-block;
      height: 7vh;

      // width: 150vw;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(100vw);
  }

  50% {}

  100% {
    transform: translateX(-125vw)
  }
}

// Header submenu
.link--active {
  color: $light-blue !important;
}

.heading--green {
  color: $color-primary;
}

.heading--center {
  text-align: center;
  font-size: 2rem;
}

.appointment {
  margin: 3rem 0px;
}

.c {
  &__subtitle {
    font-size: 2.5rem;
    text-align: center;
    color: #32325d;
    margin-bottom: 4.5rem;
    margin-top: 1.5rem;
  }

  &__content {
    margin-bottom: 5rem;
  }
}

.our-mission {
  font-size: 2rem;
  color: #76879b;
  text-align: center;

  @include tablet {
    font-size: 3.3rem;
  }
}

// HOW IT WORKS
.how-it-works {
  @include tablet {
    display: flex;
  }

  &__steps {
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
    background-color: white;

    @include tablet {
      flex: 1;
      margin: .5rem;
    }
  }
}

.why-our-service {
  @include tablet {
    display: flex;
    align-items: center;
    margin-top: 6rem;
  }

  &__svg {
    // padding: 2rem;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 4rem;
    position: relative;
  }
}

.card {
  position: relative;
}

.card--featured {
  position: absolute;
  background-color: white;
  width: 65vw;
  margin: 0 auto;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 15px 15px;

  @include tablet {
    width: 35vw;
  }
}

.spacer {
  margin-bottom: 4.5rem !important;
}

.text--blue {
  color: #0099e5;
}

.table-text--right {
  text-align: center;
  width: auto;
  color: #43d394;
  font-size: 3rem;
  line-height: 0;
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.faq {
  $c: &;

  &__question {
    font-size: 2rem;
  }

  &__answers {
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 5px;
  }

  &__container {
    margin: 5rem 0rem;
  }

  &--is-hiden {
    #{$c}__wrap {
      overflow: hidden;
      height: 0;
      height: 0;
      padding: 0;
      padding: 1rem 0rem;
      max-height: 0;
      transition: max-height .50s ease-out, padding 0s ease-out;
      // transition: max-height 2s;
      height: auto;
    }
  }

  &--is-active {
    #{$c}__wrap {
      max-height: 200px;
      padding: 1rem 0rem;
      height: auto;
      max-height: auto;
      transition: max-height 1.15s ease-out;
    }
  }
}

footer {
  background-image: linear-gradient(0, #352e66, #404d97);

  .copyrights {
    color: #bdccd4;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
}

// .doctors-table{}
table {
  width: 100%;
  background-color: #ffffff;
  padding: 3rem;
  margin-top: 3rem;

  td {
    font-size: 1.2rem;
  }

  tr {
    border-bottom: solid 1px rgb(238, 238, 238);
    height: 40px;
    display: block;
    line-height: 3;
    position: relative;

    th {
      color: black;
      text-align: left;
    }
  }
}

.login {
  background-color: #32325d;
  padding: 5rem;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 14rem;
  z-index: 99999;

  li {
    cursor: pointer;
    line-height: 1;
    margin: 1.5rem 0rem;
  }

  &__options {
    list-style: none;
    margin-bottom: 2rem;
  }

  &__label {
    margin-left: 2rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

// FORM MODULE
.md-form {
  input {
    background-color: transparent;
    border: solid 0px;
    width: 100%;
    color: white;
    border-bottom: solid 1px#8798ab;
    line-height: 4;
    transition: all 1s;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white;
      transition: all 1s;
    }

    &:focus {
      padding-left: 1rem;

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white;
        padding-left: 1rem;
        transition: all 1s;
      }
    }
  }
}
