.membership {
  background-image: linear-gradient(-60deg, #352e66, #404d97);
  height: 200px;
  border-radius: 10px;
  color: white;
  width: 27rem;
  overflow: visible;
  margin: 0 auto;
  margin-bottom: 4rem;

  @include tablet {
    width: 43vw;
    max-width: 35rem;
  }

  &--blue {
    background-image: linear-gradient(-60deg, #387cda, #41b8e8);
    height: 200px;
  }

  &__info {
    width: 100%;
    display: block;
    font-size: .9rem;
  }

  &__flex {
    display: flex;
    margin-top: 2rem;

    &>* {
      flex: 1;
    }
  }

  &__price {
    text-align: right;
    font-size: 3rem;
    display: block;
    width: 100%;
  }

  &__package-name {
    font-size: 2rem;
  }

  &__buy-button {
    font-size: 1.5rem;
    color: white;
    background-color: #566bf1;
    padding: .8rem;
    border: solid 0px;
    border-radius: 5px;
    float: right;
    margin-top: 15px;
  }
}
