// COLORS
$color-primary: #43d394;
$color-primary-light: #d6facf;
$color-primary-dark: #28b485;
$color-primary-background: #32325d;
$color-border-gray: #e6e6e6;
$color-green-form: #00c953;
$color-dark-gray: #b3b3b3;
$light-blue: #9cdbff;
$light-gray: #e6e6e6;
// 
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
// FONT
$default-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
$container-padding: 3rem;
